$bgcolor-secondary-darkBlue: #252540;
$bgcolor-primary-darkBlue: #0d0d2b;

$color-primary-blue: #0000ff;
$color-primary-blue: #2b076e;

$color-primary-lightBlue: #2563eb;
$color-primary-lightBlue: #3671e9;
$color-primary-lightBlue: #3b82f6;

$color-primary-grey: #6b7280;
$color-secondary-grey: #9ca3af;
$color-tertiary-grey: #d1d5db;

$color-primary-white: #ffffff;
$color-secondary-white: #f9fafb;
$color-tertiary-white: #e0e0e0;

$color-primary-black: #000000;